:root {
    --main-color: #3A5F56;
    --text-light: #FFFFFF;
    --color-dark: #292C32;
    --color-link: #F4F3F0;
    --color-hover: #7a9f96;
    --color-background: #d6dbd7;
    
}

// #71a699