.article {
&-menu {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--color-background);
    border: 2px solid black;
    padding: 20px;
    overflow-y: scroll;

h3 {
    color: black;
    font-size: 20px;
}



&.active {
    display: block;
    animation: sliderIn 0.3s forwards;
}
}

&-btn {
    @include btn;
}

&-icon {
    @include icon;
}


&-img {
    width: 200px;
    height: 150px;
    border-radius: 2px;
    border: 2px solid black;
}
}

@keyframes sliderIn {
    from {
        right: -250px;
    }
    to {
        right: 0;
    }
}