.footer {
    width: 100%;
    height: 279px;
    margin: 0 auto;
    background-color: #292C32;
    padding: 50px;
}


.footer-address {
    font-size: 18px;
    color: #FFFFFF;
    padding: 0;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}  

.footer-container {
    padding: 0;
}

.footer-icons {
    fill:#F4F3F0;
    margin-right: 10px;

}
