.link {
    font-size: 24px;
    color: #F4F3F0;
    text-decoration: none;
}

.hero-link {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: #3A5F56;
}

.hero-link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}